footer {
    color: #ffffff;
    height: 60px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #CCCCCC;

}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  